@model TraineeTrackerApp.Models.Week

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Week</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Start" class="control-label"></label>
                <input asp-for="Start" class="form-control" />
                <span asp-validation-for="Start" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Stop" class="control-label"></label>
                <input asp-for="Stop" class="form-control" />
                <span asp-validation-for="Stop" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Continue" class="control-label"></label>
                <input asp-for="Continue" class="form-control" />
                <span asp-validation-for="Continue" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="WeekStart" class="control-label"></label>
                <input asp-for="WeekStart" class="form-control" />
                <span asp-validation-for="WeekStart" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="GitHubLink" class="control-label"></label>
                <input asp-for="GitHubLink" class="form-control" />
                <span asp-validation-for="GitHubLink" class="text-danger"></span>
            </div>
            @Html.DropDownListFor(w => w.TechnicalSkill, 
                new SelectList(Enum.GetValues(typeof(Proficiency))), "Select technical skill level")
            @Html.DropDownListFor(w => w.ConsultantSkill, 
                new SelectList(Enum.GetValues(typeof(Proficiency))), "Select consultant skill level")
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
