@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center d-flex flex-column justify-content-center">
    <h1 class="display-4">Welcome to the Sparta Global Trainee Tracker Application!</h1>
    <p>Please <a class="" asp-area="Identity" asp-page="/Account/Login">Login</a> or <a class="" asp-area="Identity" asp-page="/Account/Register">Register</a></p>
</div>
