@model IEnumerable<TraineeTrackerApp.Models.Spartan>

@{
    ViewData["Title"] = "Index";
}
<div class="mt-auto mb-auto">
    <h1>Index</h1>

    <table class="table w-75">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Email)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Email)
                    </td>
                    <td class="text-end">
                        <div class="btn-group">
                            <a class="btn btn-info" asp-action="Details" asp-route-id="@item.Id">Details</a>
                        </div>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</div>
